@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:wght@100;200;400&display=swap');
:root {
    --violet: #7d2b8c;  /* rgb(125, 43, 140) */
    --gold: #dbc071;  /* rgb(219, 192, 113) */
    --white: #fff;
    --black: #000;
    --lightgray: #f2f2f2;
    --headings: 'Clicker Script', cursive;
    --bodyFont: 'Montserrat', sans-serif;
    --fontColor: #333;
    --transition: .3s ease;
    --font: 16px;
}
body {
    font-family: var(--bodyFont);
    color: var(--fontColor);
    line-height: 1.6;
}
h1,h2,h3,h4, h5 {
    font-family: var(--headings)
}
.py-5 {
    padding: 100px 0 !important;
}
.btn {
    background: linear-gradient(45deg, var(--violet), var(--gold));
    color: var(--white);
    padding: 15px 30px;
    text-transform: uppercase;
    border: none;
}
.btn:hover {
    background: linear-gradient(45deg, var(--gold), var(--violet));
    color: var(--white);
}
/***************
nav
***************/
nav {
    background: rgba(125, 43, 140,.8);
}
.navbar-brand img {
    width: 30%;
}
.navbar-brand img:hover {
    opacity: .8;
    transition: var(--transition);
}
.nav-link {
    color: var(--white) !important;
    text-transform: uppercase;
    margin-left: 20px;
}
.nav-link:hover {
    color: var(--gold) !important;
    transition: var(--transition);
}
/***************
footer
***************/
footer {
    background: var(--gold);
}
footer h3 {
    font-size: 2.5rem;
}
footer h3::after {
    display: block;
    content: "";
    height: 2px;
    width: 50px;
    background: var(--fontColor);
    margin: 20px 0;
}
footer a {
    font-size: 3rem;
    color: var(--violet);
    transition: var(--transition);
    margin-right: 20px;
}
footer a:hover {
    color: var(--violet);
    transition-duration: .7s;
}
footer i:hover {
    animation: footer .7s ease;
}
@keyframes footer {
    0% {
        color: var(--violet);
    }
    50% {
        color: var(--fontColor);
    }
    100% {
        transform: rotate(360deg);
    }
}
/***************
header
***************/
header {
    background-image: linear-gradient(rgba(219, 192, 113,.7), rgba(255,255,255,.99)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh
}
header h1 {
    background: rgba(125, 43, 140,.8)
}
/***************
gradijent
***************/
.gradijent {
    background: linear-gradient(45deg, var(--violet), var(--gold));
}
.gradijent img {
    width: 15%;
    margin: auto;
}
/***************
slajder
***************/
.slajder .divider {
    width: 35%;
    margin: auto;
}
.slajder .carousel {
    border: 10px solid;
    border-image-source: linear-gradient(45deg, var(--violet), var(--gold));
    border-image-slice: 1;
}
/***************
onama
***************/
.onama .wrapper {
    border: 3px solid;
    border-image-source: linear-gradient(45deg, var(--violet), var(--gold));
    border-image-slice: 1;
    padding: 40px 30px;
    min-height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/***************
cta
***************/
.cta {
    background: var(--lightgray);
}
/***************
proizvodi
***************/
.proizvodi .card {
    border: 5px solid;
    border-image-source: linear-gradient(45deg, var(--violet), var(--gold));
    border-image-slice: 1;
    margin-bottom: 30px;
}
.proizvodi .card:hover {
    border: 5px solid;
    border-image-source: linear-gradient(45deg, var(--gold), var(--violet));
    border-image-slice: 1;
}
















